.alerts-body-filters {
  display: flex;
  min-width: 35%;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
}

.alerts-body-filters > button {
  border-radius: 999px;
  outline: 0;
  margin-right: 1vw;
}

.btn_selected {
  background-color: rgba(0, 179, 0, 0.1) !important;
  border: 1px solid darkgreen !important;
}

.alerts-body-table {
  margin-top: 2vh;
}

.input-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.org_id {
  width: 25vw;
  outline: 0;
  /* height: 2em; */
  border: 0px solid rgb(134, 134, 134);
  /* background-color: teal; */
  /* background-color: rgba(198, 238, 255, 0.651); */
  background-color: rgba(234, 234, 234, 0.819);
  height: 2.5em;
  /* color: white; */
  font-weight: 100;
  border-radius: 0.5em;
  margin-right: 0.15em;
  /* padding: .25em; */
  padding: 0.25em 1em;
  /* border: 1px solid black; */
  min-height: 3em !important;
  max-height: none !important;
}

.input-div > button {
  border: none;
  /* width: 10em; */
  width: 5em;
  /* height: 100%; */
  /* min-height: em !important; */
  /* background-color: rgba(255, 139, 139, 0.644); */
  /* background-color: rgb(59, 196, 255); */
  /* color: white; */
  border-radius: 0.5em;
  text-transform: uppercase;
}

.userId-field {
  width: 25vw;
  outline: 0;
  /* height: 2em; */
  /* border: 0px solid rgb(134, 134, 134); */
  /* background-color: teal; */
  /* background-color: rgba(198, 238, 255, 0.651); */
  /* background-color: rgba(234, 234, 234, 0.819); */
  max-height: 3em;
  /* color: white; */
  font-weight: 100;
  border-radius: 0.5em;
  margin-right: 0.15em;
  /* padding: .25em; */
  padding: 1em;
  min-height: 3em !important;
  max-height: none;
}

.userId-field:focus {
  min-height: 3em !important;
  max-height: none;
}

.textInput {
  padding: 1px !important;
  margin: 0px !important;
  width: 25vw !important;
}

.row_yellow {
  background-color: rgb(255, 255, 174);
  border-top: 3px solid goldenrod !important;
  border-bottom: 3px solid goldenrod !important;
}
.row_red {
  background-color: rgb(255, 128, 128);
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}
.row_green {
  background-color: rgb(142, 250, 142);
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

.row_gray,
.row_grey {
  background-color: lightgray;
  border-top: 3px solid darkgray !important;
  border-bottom: 3px solid darkgray !important;
}
.parentRow {
  box-shadow: 1px 15px 10px black;
}

.childRow {
  box-shadow: inset 13px 0px 1px darkslategrey;
  opacity: 0.8;
}
.Link-text:hover {
  color: blue !important;
  /* font-size: small !important; */
}
.Link-text-group:hover {
  color: blue !important;
}
