.input_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.input_button > .MuiFormControl-root {
  width: 100%;
}
.input_button > button {
  margin-left: 1vw;
}
.hardware_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see_which_component {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.hardware-content {
  margin-top: 3vh;
}

.hardware-content {
  display: flex;
  justify-content: center;
}

.MuiTab-textColorInherit.Mui-selected {
  outline: 0;
}

.MuiInputBase-input {
  outline: 0 !important;
}

.MuiButtonBase-root.MuiTab-root {
  outline: 0;
}

.tabBar {
  background-color: #95cbf7 !important;
}
