.loginPage {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: linear-gradient(0deg, #3f51b5, white); */
}

.loginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  min-width: 40%;
}
.loginBox_Bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.InputBox {
  /* TOP , BOTTOM, LEFT, RIGHT */
  padding: 5px;
  /* Left */
  padding-left: 15px;
  /* Right */
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  color: gray;
  width: 225px;
  border: 1px solid darkgray;
}

.InputBox > input {
  flex: 1;
  border: 0px;
  outline: 0px;
  color: gray;
  font-weight: 800;
  padding: 10px;
}

.login-button {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #2a78d7;
  outline: 0;
  border: 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.rest_button {
  margin-top: 10px;
}
