.remarks-textboxes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.remarks-textboxes > input {
  width: 80%;
  outline: 0;
  margin-bottom: 10px;
  /* height: 2em; */
  border: 0px solid rgb(134, 134, 134);
  /* background-color: teal; */
  /* background-color: rgba(198, 238, 255, 0.651); */
  background-color: rgba(234, 234, 234, 0.819);
  height: 2.5em;
  /* color: white; */
  font-weight: 100;
  border-radius: 0.5em;
  margin-right: 0.15em;
  /* padding: .25em; */
  padding: 0.25em 1em;
}
