.ops-date-range-input-form {
  display: flex;
  background-color: rgba(232, 232, 232, 0.839);
  border-radius: 0.5em;
  padding: 0.5em;
}

/* .range-options-span{ */
/* display: flex; */
/* background-color: rgba(232, 232, 232, 0.839); */
/* border-radius: .5em; */
/* padding: .5em; */

/* } */

.inner-range-span {
  /* background-color: rgb(215, 121, 121); */
  /* background-color: rgb(255, 255, 255); */
  font-weight: 400;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-range-span * {
  padding: 0.1em;
  outline: none;
  border: none;
  margin-bottom: 0px !important;
}

.data-range-btn {
  border: none;
  height: 3em;
  /* width: 10em; */
  /* background-color: rgb(184, 240, 249); */
  background-color: rgb(69, 69, 69);
  color: white;
  border-radius: 0.5em !important;
  text-transform: uppercase;
}

.data-range-btn:focus {
  border: none;
  outline: none;
}

.data-range-btn:hover {
  border: none;
  outline: none;

  /* background-color: rgba(184, 208, 249, 0.689); */
  background-color: rgba(69, 69, 69, 0.507);

  cursor: pointer;
}

.avg-processing-time {
  background-color: #454545;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.ops-new-device-id > input {
  width: 25vw;
  /* text-transform: capitalize; */
  /* height: 2em; */
  border: 0px solid rgb(134, 134, 134);
  /* background-color: teal; */
  /* background-color: rgba(198, 238, 255, 0.651); */
  background-color: rgba(234, 234, 234, 0.819);
  height: 3em;
  /* color: white; */
  font-weight: 100;
  border-radius: 0.5em;
  margin-right: 0.15em;
  /* padding: .25em; */
  padding: 0.25em 1em;
  outline: 0;
}

.ops-new-device-id > button {
  border: none;
  width: 5em;
  height: 3em;

  /* background-color: rgb(59, 196, 255); */
  color: white !important;
  border-radius: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
}
/* .ops-new-device-id > button:hover {
  opacity: 0.8;
} */

.ops-new-device-id {
  display: flex;
  justify-content: space-around;
  min-width: 35%;
}

.secondsAreLessThan4 {
  color: red !important;
  text-shadow: #454545;
  /* background-color: rgba(255, 0, 0, 0.2) !important; */
}
