.options-container{
	display: flex;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.616);
	justify-content: center;
	align-items: center;
	/* z-index: 10; */
	backdrop-filter: blur(.75em);
}

.options-form-div {
	/* position: relative; */
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	/* border-radius: 1em; */
	/* background-color: wheat; */
	
	/* padding: 1em; */
	padding-top: 4em;
	padding-right: 4em;
}

/* .options-form-div form{ */
.options-container form{
	display: flex;
	padding: 2em;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* width: 40em; */
	height: 15em;
	width: 22em;
	border-radius: 1em;
	/* justify-content: center; */
	/* align-items: center; */
	background-color: rgb(255, 255, 255);
	/* background-color: rgb(50, 50, 50); */
	box-shadow: rgba(0, 0, 0, .1) 0em 0em 1em;
	/* filter: blur(.5em); */

}

/* .options-form-div form div{ */
.options-container form div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: rgb(27, 27, 27);
	/* text-transform: uppercase; */


}

.options-container form div input {
	height: 2em;
	width: 11em;
	outline: none;
	border: none;
	padding: .5em;
	border-radius: .5em;
	background-color: rgba(220, 220, 220, 0.353);
}

.options-container form button {
	width: 100%;
	height: 2.5em;
	/* background-color: rgb(255, 180, 160); */
	text-transform: uppercase;

	border-radius: .5em;
	outline: none;
	border: none;

}

.options-go-btn{
	background-color: rgb(160, 211, 255);

}

.options-go-btn:hover {
	background-color: rgb(113, 187, 251);
}

#num-sleeps-span input{
	width: 3.5em;
}

.options-cancel-btn{
	background-color: rgb(255, 180, 160);
}
.options-cancel-btn:hover{
	background-color: rgb(255, 155, 128);
}

.options-error-div {
	height: 100%;
 	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: pink;
	text-align: center;
}

.options-error-div p {
	text-align: center;
}

