.progress-bar-border {
  background-color: rgba(183, 183, 183, 0.459);
  max-height: 0.7rem;
  overflow: hidden;
  /* background-color: rgb(196, 211, 212); */
  /* border-radius: 10px; */
}

.progress-bar-inner {
  /* background-color: rgb(58, 173, 255); */
  background-color: #1abb9c;
  /* border-radius: 10px; */
}
