.page_top_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.report_selected {
  margin-top: 1vh;
}

.variant_selector {
  margin-top: 4vh;
}
.selector {
  width: 50vw;
  margin-left: 1vw;
}

.input_boxes {
  align-items: center;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
