.sleep-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user-details {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3vh;
}

.sleep-link {
  color: inherit;
  text-decoration: none;
}

.sleep-link:hover {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
}
.det_box {
  text-decoration: none;
  color: inherit;
}

.not-my-sleep {
  font-size: 1.1em;
}

.user-details__top {
  display: flex;
  width: 100%;
  color: #4f6275 !important;
  font-size: 1em;
  align-items: center;
  justify-content: space-evenly;
}
.sleep-data-donut {
  box-shadow: 0rem 0rem 0.05rem 0rem black;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 3vh;
  width: 100%;
  background-color: white;
}
.sleep-data-donut > div {
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  background-color: white;
  padding: 10px;
  box-shadow: 0rem 0rem 0.05rem 0rem black;
}

.sleep-analysis-box {
  min-width: 29% !important;
  max-width: 50%;
}
/* Sleep Data Table */

.sleep-data-row > td {
  color: #4f6275;
}
.sleep-data-key {
  font-weight: 500;
}

.sleep-data-content {
  height: 80%;
  width: 100%;
}

.sleep-data-tbl {
  width: 100%;
  height: 90%;
  background-color: white !important;
}

/* Sleep Score Donut */

.sleep-mixed-graph {
  background-color: white;
  box-shadow: 0rem 0rem 0.05rem 0rem black;
  padding: 10px;
  width: 100%;
}

.user-details__bottom {
  display: flex;
  width: 100%;
  margin-top: 1vh;
  justify-content: space-between;
}
