.sleep-body > div {
  background-color: white;
  display: flex;
  width: 100%;
}

.sleep-body__top {
  width: 100%;
  margin-top: 1vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0em 0em 0.05em 0.05em lightgray;
  border-radius: 15px;
}

.sleep-body__topForm {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sleep-body__topForm > button {
  outline: 0;
}

.sleep-body__topForm > div > input {
  margin-left: 15px;
  min-width: 60%;
  outline: 0;
  padding: 7px;
  font-size: larger;
}

.sleep-body__bottom {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  box-shadow: 0em 0em 0.05em 0.05em lightgray;
  border-radius: 15px;
  margin-top: 1vh;
}

.sleep-body__bottomButtons {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sleep-body__bottomButtons > button {
  min-width: 150px !important;
  outline: 0;
  margin-top: 10px;
  width: 35%;
}

.sleep-body__bottomColors {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.colored_box {
  border-radius: 5px;
  margin-top: 10px;
  min-width: 120px;
  width: 150px;
  min-height: 70px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 1px black;
}

.colored_box:active {
  box-shadow: none !important;
}

.colored_green {
  /* background-color: rgb(169, 238, 169); */
  border: 1px solid green;
  background: url("../images/bg_green.png");
  background-size: cover;
  background-position: center;
  /* color: white; */
}

.colored_undef {
  border: 1px solid black;
}

.colored_orange {
  background-color: rgb(237, 207, 153);
  border: 1px solid orange;
  background: url("../images/bg_orange.png");
  background-size: cover;
  background-position: center;
}
.colored_red {
  background-color: rgb(230, 137, 137);
  border: 1px solid red;
  background: url("../images/bg_red.png");
  background-size: cover;
  background-position: center;
}
.colored_pink {
  background-color: rgb(255, 190, 190);
  border: 1px solid pink;
  background: url("../images/bg_pink.png");
  background-size: cover;
  background-position: center;
}
.colored_grey {
  background-color: rgb(222, 222, 222);
  border: 1px solid darkgray;
  background: url("../images/bg_gray.png");
  background-size: cover;
  background-position: center;
}
.colored_yellow {
  background-color: rgb(249, 219, 54);
  border: 1px solid goldenrod;
  background: url("../images/bg_yellow.png");
  background-size: cover;
  background-position: center;
}
.sleep-body__bottomInfo {
  margin: auto;
  margin-top: 3vh;
  width: 50%;
}
.sleep-body__bottomInfo > table {
  margin: auto;
  min-width: 100%;
}
.dataInfo {
  font-weight: 600;
}
.table_body > tr {
  margin-bottom: 45px !important;
}
