.search-input-div,
.sleep-quality-log-div,
.quality-params-div {
  display: flex;
  width: 95%;
  background: white !important;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 0.5em;
}

.search-input-div,
.sleep-quality-log-div,
.quality-params-div {
  border-radius: 0.65em;
  padding: 1em 1.5em;
}

.search-input-div input {
}

.search-input-div button {
}

.sleep-quality-log-div,
.quality-params-div {
  min-height: 45vh;
}

.quality-params-div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sleep-quality-log-div {
  padding-top: 2em;
  align-items: flex-start;
}

.sleep-quality-graph-container {
  /* background-color: blueviolet;
	width: 100%; */
}

.sleep-quality-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  /* background-color: rgba(238, 255, 238, 0.442); */
  min-height: 35vh;
}

.quality-params-header {
  /* width: 100%; */
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  /* border-bottom: 1px solid rgba(123, 123, 123, 0.36); */
  /* background-color: darksalmon; */
  /* font-weight: 400; */

  width: 100%;
  text-align: left;
  margin: 0.5em;
  padding: 0.5em;
  padding-top: 0;
}

.sleep-quality-header-span {
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

.sleep-quality-header-outer-span {
  background-color: rgba(232, 232, 232, 0.839);
  /* font-weight: 400; */
  /* padding: .25em .5em; */
  padding: 0.75em;
  border-radius: 0.5em;
}

.search-input-div {
  justify-content: space-between;
}

.sleep-quality-search-input {
  width: 25vw;
  /* height: 2em; */
  border: 0px solid rgb(134, 134, 134);
  /* background-color: teal; */
  /* background-color: rgba(198, 238, 255, 0.651); */
  background-color: rgba(234, 234, 234, 0.819);
  height: 2.5em;

  /* color: white; */
  font-weight: 100;
  border-radius: 0.5em;
  margin-right: 0.15em;
  /* padding: .25em; */
  padding: 0.25em 1em;
}
.sleep-quality-search-input:focus {
  outline: none;
}

.sleep-quality-go-btn {
  border: none;
  /* width: 10em; */

  width: 5em;
  height: 2.5em;
  /* background-color: rgba(255, 139, 139, 0.644); */
  background-color: rgb(59, 196, 255);

  color: white;
  border-radius: 0.5em;
  text-transform: uppercase;
}

.sleep-quality-go-btn:hover {
  background-color: rgb(98, 206, 252);
  cursor: pointer;
}

.sleep-quality-go-btn:focus {
  /* background-color: rgb(59, 196, 255); */
  outline: none;
}

.users-page-header-div {
  display: flex;
  /* width: 100%; */
  background: white;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  margin: 0.5em;
  /* border: 1px solid #ccc; */
  border-radius: 0.5em;
  /* border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; */
  box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 0.5em;
  padding: 1em;
}

.users-page-header-div img {
  width: 4em;
}

.total-users-inner-span {
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin-left: 0.5em;
}

.total-users-outer-span {
  /* font-size: 1.5em; */
  background-color: rgba(232, 232, 232, 0.839);
  width: 13em;
  text-transform: uppercase;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
