.main-sleep-container{
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
}

.user-info-container{
	display: flex;
	width: 98vw;
	/* background: white; */
	justify-content: space-between;
	align-items: center;
	/* padding: 1em; */
	margin: .5em;
	/* border: 1px solid #ccc; */
	box-shadow: rgba(0, 0, 0, 0.1) 0em 0em .5em ;
	
}

.user-info-container button {
	padding: .25em 1em;
}
.not-my-sleep-btn-container{
	
}
.user-info-container,
.sleep-main-container,
.ahi-graph-container,
.sleep-data,
.sleep-score,
.sleep-analysis{
	border-radius: .65em;
	padding: 1em 1.5em;
}


.sleep-main-container,
.ahi-graph-container,
.user-info-container {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(224, 224, 224);
}

.sleep-main-container,
.ahi-graph-container {
	margin-bottom: .5em;
	/* padding: 1em; */
	/* border: 1px solid #ccc; */

	box-shadow: rgba(0, 0, 0, 0.1) 0em 0em .5em;
	display: flex;
	flex-direction: column;
	width: 98vw;
	align-items: center;
	/* min-height: 40vh; */
	/* justify-content: space-between; */
}

.ahi-graph-container {
	margin-bottom: 1em;
	/* padding-right: 2em; */
	/* align-items: flex-end; */
	/* justify-content: space-between; */
}


.sleeps-range-div{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
}

.sleeps-range-div span {
	/* margin-right: 1em; */
}

.sleeps-range-div span button {
	margin: .1em;
	padding: .25em 1em;
}


.sleep-charts-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1em;
}

.sleep-data,
.sleep-score, 
.sleep-analysis {
	width: 33%;
	min-height: 25em;
	/* padding: 1em; */
	/* background-color: rgb(224, 247, 255); */
		background-color: rgba(198, 243, 255, 0.209);
		/* background-color: rgba(211 244 255 / 45%); */
	/* box-shadow: rgba(0, 0, 0, 0.1) 0em 0em .5em; */
	display: flex;
	flex-direction: column;
	margin-top: .5em;
	margin-bottom: .5em;
}

.sleep-data {
	/* margin-left: .5em; */
}

.sleep-score {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.sleep-analysis,
.sleep-data {

	/* margin-right: .5em; */
}

.ahi-graph-container {
	display: flex;
	justify-content: center;
	min-height: 40vh;
}

/* .chart {
	width: 100%;
	height: 50%;
} */
.chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	/* background-color: rgb(149, 149, 149); */
	/* background-color: rgba(238, 255, 238, 0.442); */
}

.sleep-donut{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* background-color: rgb(240, 255, 251); */

	border-radius: 1em;
	width: 100%;
}

.sleep-data-header,
.sleep-score-header,
.sleep-analysis-header{
	/* width: 100%; */
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	/* border-bottom: 1px solid rgba(123, 123, 123, 0.36); */
	/* background-color: darksalmon; */
	/* font-weight: 400; */
	margin: .5em;
	padding: .5em;
	padding-top: 0;
}

.sleep-data-tbl {
	/* padding: 0 2em; */
	
	width: 60%;
	min-width: 19em;
	font-size: 14px;
	border-spacing: .25em;
	/* border-spacing: 0; */
	text-transform: uppercase;
	/* background-color: rgb(255, 255, 255); */
		background-color: rgb(240, 252, 255);


	color: black;
	padding: 1em;
	border-radius:.5em;
}

.sleep-data-tbl tr{
	/* padding: 0 2em; */
	/* width: 75%; */
	/* border: 1px solid pink; */
	
	/* background-color: darkgray; */
	/* border-radius: 10px; */
}

.sleep-data-tbl tr td{

	
}

.sleep-data-tbl tr:nth-child(even) {
	/* background-color: #818181; */
	/* color: rgb(255, 238, 153); */
	/* border: 1px solid white; */
	/* background-color: coral; */
	
}

.sleep-analysis-row {
	padding: 10px;
	/* margin: .5em; */
}

.sleep-analysis-title {
	width: 32.5%;
	text-transform: uppercase;
	font-size: 13px;
	/* font-weight: 400; */
}

.sleep-analysis-progress-bar {
	width: 60%;
}

.sleep-analysis-score {
	width: 7.5%;
	text-align: right;
}

.sleep-data-row{
	width: 100%;
	/* background-color: coral; */
	
}

.sleep-data-key{
	text-transform: uppercase;
	/* font-weight: bold; */
	/* font-weight: 400; */

	width: 50%;

}

.sleep-data-value {
	width: 50%;
	/* font-size: 15px; */
	/* background-color: rgb(250, 237, 255); */
	border-radius: .15em;
	/* text-align: right; */
	/* margin: .25em; */
	height: 1.5em;
	padding: .15em;
}

.sleep-data-table-container{
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 1.25em; */
	height: 100%;
	/* background-color: rgb(255, 246, 253); */
	/* background-color: rgba(255, 255, 255, 0.737); */
	/* background-color: rgba(182, 200, 255, 0.737); */
	background-color: rgba(0, 0, 0, 0.655);
	color: rgb(217, 217, 217);
	border-radius: 1em;
}
.sleep-analysis-tbl{
	width: 95%;
	padding: 1em;
}
.sleep-analysis-table-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* background-color: rgb(219, 250, 255); */
		background-color: rgba(0, 0, 0, 0.655);
		color: rgb(217, 217, 217);
	border-radius: 1em;
}

.date-btn {
	border: none;
	height: 3em;
	width: 10em;
	/* background-color: rgba(255, 139, 139, 0.644); */
	background-color: rgba(195, 195, 195, 0.644);
	border-radius: .5em;
	text-transform: uppercase;
}


.date-btn:focus,
.date-btn:hover {
	border: none;
	outline: none;
	/* background-color: rgba(255, 139, 139, 0.401); */
	/* background-color: rgba(195, 195, 195, 0.511); */
	background-color: rgba(64, 64, 64, 0.548);
	/* color: rgb(45, 45, 45); */
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.date-btn-selected {
	text-transform: uppercase;

	border: none;
	height: 3em;
	width: 10em;
	border-radius: .5em;
	/* background-color: rgb(200, 227, 254); */
	background-color: rgb(64, 64, 64);
	color: #ccc;
	
}

.date-btn-selected:focus {
	border: none;
	outline: none;
}

.date-btn-selected:hover {
	border: none;
	outline: none;
	/* background-color: rgb(157, 190, 224); */
	background-color: rgba(64, 64, 64, 0.548);
	/* color: rgb(45, 45, 45); */
	color: rgb(255, 255, 255);
	cursor: pointer;
	
}

.not-my-sleep-btn{
	border: none;
	height: 3em;
	width: 10em;
	/* background-color: rgb(184, 240, 249); */
	background-color: rgb(249, 184, 184);
	/* color: white; */
	border-radius: .5em;
	text-transform: uppercase;
}

.not-my-sleep-btn:focus{
	border: none;
	outline: none;
}

.not-my-sleep-btn:hover{
	border: none;
	outline: none;
	/* background-color: rgb(128, 240, 255); */
	background-color: rgb(252, 136, 136);
	cursor: pointer;

}

.sleep-data-header-span{
	background-color: rgb(255, 255, 255);
	font-weight: 400;
	padding: .25em .5em;
	border-radius: .25em;
}

.sleep-data-header-outer-span{
	background-color: rgba(232, 232, 232, 0.839);
	/* font-weight: 400; */
	/* padding: .25em .5em; */
	padding: .75em;
	border-radius: .5em;
}

.options-btn{
	border: none;
	height: 3em;
	width: 10em;
	/* background-color: rgb(184, 240, 249); */
	background-color: rgb(184, 208, 249);
	/* color: white; */
	border-radius: .5em;
	text-transform: uppercase;
}

.options-btn:focus {
	border: none;
	outline: none;
}

.options-btn:hover {
	border: none;
	outline: none;
	
	background-color: rgba(184, 208, 249, 0.689);
	cursor: pointer;

}

.sleeps-range-div {
	/* background-color: wheat; */
	/* display: flex; */
	justify-content: space-between;
	/* padding: 0; */
}

/* .options-span{
	padding: 0;
	margin: 0;
} */