.table-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 0.5em;
  border-radius: 0.65em;
  padding: 1em 1.5em;
  /* background-color: lavender; */
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 2em;
}

.pageBtn {
  border: none;
  /* height: 1.8em; */
  height: 2.2em;
  width: 3em;
  margin: 1px;
  /* background-color: rgba(255, 139, 139, 0.644); */
  /* background-color: rgb(59, 196, 255); */
  background-color: rgb(83, 83, 83);
  color: white;
  border-radius: 0.25em;
  text-transform: uppercase;
}
.pageBtn:hover {
  /* background-color: rgb(104, 209, 254); */
  background-color: rgb(40, 40, 40);

  cursor: pointer;
}
.pageBtn:focus {
  outline: none;
}

/* .pageBtn {
	width: 3em;
	padding: .25em;
	margin: .5em .1em;
} */

.tableContainer input {
  /* padding: .25em;
		margin: 1em 0;
		width: 15vw;
		border: 1px solid rgb(134, 134, 134);
		border-radius: 3px; */
}

.tableContainer select {
  padding: 0.25em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.tableContainer table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  font-size: 12px;
  /* width: 1800px; */
  /* width: 94vw; */
  width: 100%;
  /* min-width: 80vw; */
  /* width: 100%; */
  background-color: rgb(255, 255, 255);

  position: relative;
}

.tableContainer th {
  position: sticky;
  top: 0.25em;
}

.tableContainer table td,
.tableContainer table th {
  border: 1px solid #ddd;
  padding: 0.75em;
}

.tableContainer table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableContainer table tr:hover {
  background-color: #ddd;
}

.tableContainer table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #323232;
  /* background-color: #000000; */
  color: white;
  font-weight: bolder;
}

.tableContainer table tr th span {
  margin-left: 0.5em;
}

a:link {
  color: rgb(43, 43, 43);
  text-decoration: none;
}

a:visited {
  color: rgb(107, 131, 251);
  /* font-size: 15px; */
  font-weight: 700;
}

a:hover {
  color: rgb(63, 95, 255);
  cursor: pointer;
}

.table-search-div {
  display: flex;
  width: 100%;
  /* background: hotpink; */
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  margin: 0.5em;
  /* border: 1px solid #ccc; */
  border-radius: 0.5em;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0em 0em .5em; */
}

#table-search-input-field {
  border: none;
  background-color: rgba(234, 234, 234, 0.819);
  width: 32em;
  height: 2.5em;
  outline: none;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  margin: 1em 0;
  /* width: 15vw; */
}

.table-btn-container {
  margin: 0.5em 1em;
  display: flex;
  width: 100%;
  /* background: hotpink; */
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  /* margin: .5em; */
  /* border: 1px solid #ccc; */
  padding: 1em;
  border-radius: 0.5em;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0em 0em .5em; */
}

.table-body-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 0.25em 0.5em;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0em 0em 0.5em;
}

.table-go-to-page-span input,
.table-page-size-span select {
  border: none;
  /* background-color: rgba(164, 164, 164, 0.216); */
  background-color: rgba(234, 234, 234, 0.819);

  padding: 0.25em;
  border-radius: 0.25em;
  /* text-transform: uppercase; */
}

.table-go-to-page-span input:focus,
.table-page-size-span select:focus {
  outline: none;
}

.table-go-to-page-span {
  display: flex;
  align-items: center;
  /* margin: 1em; */
  /* padding: .5em; */
}

.table-go-to-page-span span {
  margin-right: 0.5em;
}

.users-table-heading {
  font-size: 2em;
  text-transform: uppercase;
  margin-left: 0.5em;
}

.users-table-logo-title-span {
  display: flex;
  align-items: center;
  /* width: 27em; */
  /* background-color: pink; */
  /* padding: 0 2em; */
  /* margin-right: 2em; */
  justify-content: space-between;
}

.cb-outer-span {
  /* font-size: 1.5em; */
  background-color: rgba(232, 232, 232, 0.839);
  min-width: 11em;
  /* text-transform: capitalize; */
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cb-inner-span {
  /* background-color: rgb(255, 255, 255); */
  /* font-weight: 400;
	padding: .25em .5em;
	border-radius: .25em;
	margin-left: .5em; */
}

.ops-deviceId-outer-span {
  background-color: rgba(232, 232, 232, 0.839);
  /* width: 13em; */
  /* text-transform: uppercase; */
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ops-deviceId-inner-span {
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin-left: 0.5em;
}

.button-container-div {
  display: flex;
  /* background:rgb(107, 131, 251); */
  justify-content: space-around;
  align-items: center;
  padding: 0.25em;
}

.button-container-div a {
  text-decoration: none;
  background-color: rgb(217, 255, 136);
  margin-right: 1em;
  padding: 0.7em;
  border-radius: 0.5em;
  color: rgb(40, 40, 40);
  text-transform: uppercase;
}

.button-container-div a:hover {
  background-color: rgb(192, 248, 72);
  font-weight: 700;
  color: rgb(0, 0, 0);
}
/* 
.bp-btn{
	border: none;
	height: 3em;
	width: 10em;
	background-color: rgb(249, 184, 184);
	margin-right: 1em;
	border-radius: .5em;
	text-transform: uppercase;
}

.bp-btn:focus{
	border: none;
	outline: none;
}

.bp-btn:hover{
	border: none;
	outline: none;
	background-color: rgb(252, 136, 136);
	cursor: pointer;
} */
